.register-form-container{
    width: 70%;
    margin: 0 auto;
}
.text-input{
    display: block;
    width: 70%;
}
.common-button{
    background-color: white;
    font-weight: bold;
    border: 2px solid rgb(7, 183, 232);
    border-radius: 5px;
}
.common-button:hover{
    background-color: rgb(7, 183, 232);
    color: white;
}